/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  background-color: #ff6b6b;
  color: #fff;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Stylish&display=swap");
.logo {
  font-family: "Stylish", sans-serif;
  margin-left: -40%;
  padding-right: 40px;
  font-weight: 800;
  font-size: 4px;
  font-style: italic;
}
.navbar {
  background-color: #f88d8d;
  color: #333;
  padding: 40px 100px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 2.5rem;
}

.nav-links {
  margin-left: 20%;
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 18px;
}

.nav-links a:hover {
  color: #333;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}
.home-page {
  background-color: #333;
}
/* Hero section styles */
.hero-section {
  background-image: url("room.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  text-align: center;
  padding: 100px 0;
  opacity: 90%;
  font-weight: 900;
  animation: changeBackground 15s infinite;
}
@keyframes changeBackground {
  0% {
    background-image: url("room.PNG");
  }
  33% {
    background-image: url("room5.jpg");
  }
  66% {
    background-image: url("roomate.jpg");
  }
  100% {
    background-image: url("room6.jpg");
  }
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  margin-left: 5%;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

/* Search section styles */
.search-section {
  margin-top: 4rem;
  padding: 50px 20px;
  text-align: center;

  color: #333;
}
.search-input {
  width: 80%;
  max-width: 500px;
  padding: 10px 20px;
  height: 100px;
  margin-right: 10px;
}

.search-button {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Featured listings styles */
.featured-listings {
  padding: 50px 20px;
}

.featured-listings h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.listing {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
}

.listing h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* How it works section styles */
.how-it-works {
  background-color: #f0f0f0;
  padding: 50px 20px;
}

.how-it-works h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.step h3 {
  font-size: 1.5rem;
  margin-right: 10px;
}

/* Testimonials section styles */
.testimonials {
  padding: 50px 20px;
  text-align: center;
}

.testimonials h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.testimonial {
  margin-bottom: 20px;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.footer {
  position: relative;
  width: 100%;
  background: #ff6b6b;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: wave 4s linear infinite;
}
@keyframes wave {
  0% {
    background: #ff6b6b;
  }
  100% {
    background-color: #702929;
  }
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu__item {
  list-style: none;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.screen {
  background: linear-gradient(90deg, #ff6b6b, #f88d8d);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #ff6b6b;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #f88d8d;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #ff6b6b, #f88d8d);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #ff6b6b;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: #e652c9;
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #cf4d9d;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #ad3a81;
  box-shadow: 0px 2px 2px #e652c9;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875b5;
}

.social-login {
  position: absolute;
  height: 140px;
  width: 160px;
  text-align: center;
  bottom: 0px;
  right: 0px;
  color: #fff;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login__icon {
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px #e652c9;
}

.social-login__icon:hover {
  transform: scale(1.5);
}

.how-it-works {
  background-color: #333;
  text-align: center;
  padding: 50px 0;
}

/* Styles for the steps */
.step {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  opacity: 0;
  animation: fadeIn 10s forwards;
  animation-delay: calc(var(--delay) * 1s);
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Additional styles for the headings and paragraphs */
h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: white;
}

.step h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ff6b6b;
}

.step p {
  font-size: 18px;
  line-height: 1.6;
  color: white;
}

/* Animation for infinite rotation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for animated icon */
.animated-icon {
  animation: rotate 4s linear infinite;
}
.searchbox {
  width: 300px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensures padding and border are included in width */
}
.testimonial-section {
  margin: 2%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-radius: 2%;
}

.left {
  width: 30%;
}
.left h2 {
  color: #333;
}

.right {
  width: 65%;
}

.slider-container {
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  width: 100%;
}

.testimonial-form {
  display: none;
}
.slider-container {
  width: 50%; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  overflow: hidden;
  background-color: white;
  justify-self: center;
  justify-items: center;
  margin-top: 5%;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  justify-items: center;
  justify-self: center;
}

.slide {
  min-width: 100%;
  text-align: center;
  justify-items: center;
}
#addTestimonialBtn {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 7%;
}
.left {
  text-align: center;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  
}

.modal-content {
  border-radius: 5%;
  
  background-color: #fefefe;
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
}

#testsub{
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

#username,
#testimonial {
  display: block; /* Ensure the inputs are displayed as block elements */
  width: 100%; /* Set the width to 100% to fill the container */
  padding: 10px; /* Add padding for spacing */
  margin-bottom: 10px; /* Add margin at the bottom for spacing between inputs */
  box-sizing: border-box; /* Include padding and border in the width */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#fromlist{
  position: absolute;
  width: 300px;
  left: 560px;
  max-height: 200px;
  overflow-y: scroll;
  
}



#fromlist div, #tolist div, #date div, #searchflt {
  height: 40px;
  text-align: center;
  max-width: 400px;
  padding: 0.2em 2em;
  background-color: #ffffff;
  color: #333;
  font-weight: 700;
  line-height: 40px;
}
/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#fromlist div:hover,
#tolist div:hover {
  background-color: #ccc;
}
