<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/list.css">
    <link rel="stylesheet" href="../static/styles.css">

    <title>Document</title>
</head>
<body>
    <nav class="navbar" id="nav">
        <div class="container">
          <div class="logo">RoomieHive</div>
          <ul class="nav-links">
            <li><a href="#hero-section">HOME</a></li>
            <li><a href="#search-section">ADD LISTING</a></li>
            <li><a href="#featured-listings">VIEW LISTING</a></li>
            <li><a href="#interests">INTERESTS</a></li>
            <li><a id="loginBtn" href="#">LOGOUT</a></li>
          </ul>
        </div>
      </nav>
      <br>
    <h2>UPLOAD APARTMENT IMAGES</h2>
    
    <form id="upload-form" enctype="multipart/form-data">
        
      <center><button  onclick="document.getElementById('files').click()" id="imgbtn">Choose Files</button></center> 
      <input type='file' id="files" style="display:none" multiple><br><br>
      
    
        <center><div id="selectedFiles"></div></center>
    
       <center> <button onclick="window.location.href='home.html'" type="submit">Submit</button>
</center>
    </form>
   
    
    <script src="../static/image.js" defer></script>
</body>
</html>