<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Document</title>
</head>
<body>
    <nav class="navbar" id="nav">
        <div class="container">
          <div class="logo">RoomieHive</div>
          <ul class="nav-links">
            <li><a href="#hero-section">HOME</a></li>
            <li><a href="#search-section">ADD LISTING</a></li>
            <li><a href="#featured-listings">VIEW LISTING</a></li>
            <li><a href="#interests">INTERESTS</a></li>
            <li><a id="loginBtn" href="#">LOGOUT</a></li>
          </ul>
        </div>
      </nav>
    <h2>UPLOAD ROOM IMAGES</h2>
    <form id="upload-form" enctype="multipart/form-data">
        
    
        <button style="display:block;width:120px; height:30px;" onclick="document.getElementById('files').click()">Your text here</button>
  <input type='file' id="files" style="display:none" multiple>
    
        <div id="selectedFiles"></div>
    
        <input type="submit">
    </form>
    <footer class="footer">
         
        <ul class="menu">
          <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
          <li class="menu__item"><a class="menu__link" href="#">About</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
    
        </ul>
        <p>&copy;2024 RoomieHive | All Rights Reserved</p>
      </footer>
    
    <script src="{{ url_for('static', filename='image.js') }}" defer></script>
</body>
</html>